body {
background-image: radial-gradient(#808008);
background-size: 30px 30px;
background-position: 0 0;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-header {
    height: 500px;
}

.img-qr {
    height: 200px;
}

.qr-description {
    font-size: 20px ;
    background-color: cadetblue;
    padding: 5px 20px;
}

.header-text {
 background-color: blueviolet;
 padding: 5px 20px;
}